$color-theme: #fa6602;
$color-off-white: #edede6;
$color-white: #ffffff;
$color-subtle: #959495;
$color-text: #212121;

$base-size: 16px;
$base-space: 0.5rem;
$base-corner: 8px;
$index-size: 1.7rem;
$indent-size: $index-size + $base-space/2;

$text-body-size: 1rem;
$text-subtle-size: 0.8rem;
$text-title-size: 2.3rem;
$text-heading-size: 2rem;
$text-index-size: 1.7rem;
